@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600&display=swap");

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{

  background:#050505;
  color:#00ffc3;

  font-family:"Orbitron", sans-serif;

}

/* NAVBAR */

.navbar{

  display:flex;
  justify-content:space-between;
  align-items:center;

  padding:20px 40px;

  border-bottom:1px solid #00ffc3;

  background:#050505;

}

.logo{

  font-size:28px;

  font-weight:600;

  text-shadow:0 0 10px #00ffc3;

}

/* MENU */

.nav-links{

  display:flex;

  gap:40px;

}

.nav-links a{

  text-decoration:none;

  color:#00ffc3;

  font-size:16px;

  transition:0.2s;

}

.nav-links a:hover{

  color:white;

  text-shadow:0 0 8px #00ffc3;

}

/* PAGE */

.page{

  max-width:1200px;

  margin:auto;

  padding:40px;

}

/* TITRES */

h1{

  font-size:42px;

  margin-bottom:20px;

  text-shadow:
  0 0 8px #00ffc3,
  0 0 20px #00ffc3;

}

p{

  margin-bottom:30px;

}

/* CARTES */

.cards{

  display:grid;

  grid-template-columns:1fr 1fr;

  gap:30px;

}

.card{

  border:1px solid #00ffc3;

  padding:30px;

  border-radius:8px;

  background:rgba(0,0,0,0.6);

  transition:0.2s;

}

.card:hover{

  box-shadow:0 0 20px #00ffc3;

}

.card h2{

  margin-bottom:15px;

}

.button{

  display:inline-block;

  margin-top:10px;

  padding:10px 20px;

  border:1px solid #00ffc3;

  text-decoration:none;

  color:#00ffc3;

}

.button:hover{

  background:#00ffc3;

  color:black;

}

.login-container{

  max-width:400px;

  margin:100px auto;

  display:flex;

  flex-direction:column;

  gap:20px;

}

.login-container input{

  padding:12px;

  background:black;

  border:1px solid #00ffc3;

  color:#00ffc3;

}

.login-container button{

  padding:12px;

  border:1px solid #00ffc3;

  background:black;

  color:#00ffc3;

  cursor:pointer;

}

.login-container button:hover{

  background:#00ffc3;

  color:black;

}